# Do not commit generated certificates/keys
/.env
/alertmanager/alertmanager.yml
!/alertmanager/.gitkeep
/traefik/certs/*
/landing-page/index.html 
/traefik/dynamic/traefik-dynamic.yaml 
/traefik/traefik.yaml
!/traefik/certs/.gitkeep
pr_state.json
/logs/*
